<!DOCTYPE html>
<html>

<body>
    <p  style="text-align: center; padding-top: 48px; font-size: 30px; color: green;"> Generate Short URL </p>

    <div style="display: flex;
        justify-content: center;
        margin: 70px;
        height: 40px;">
        <span style="margin: auto 0;display: table;
            padding: 10px;border: 1px solid black;text-align: start;">Enter Url</span>
        <div>
            <input style="width: 400px;height: 34px;" type="text" id="url" placeholder="http://www.example.com" name="url">
            <p style="text-align: center;font-size: 12px;color: green;">Please enter value in format of below example </p>
            <p style="text-align: center;font-size: 12px;color: green;">http://www.example.com/text</p>
            <p style="text-align: center;font-size: 12px;color: green;">https://www.example.com/text</p>
        </div>
        <button id="submit">Get Short URL.</button>
    </div>
    <p id="message" style="text-align: center; padding-top: 48px; font-size: 22px; color: green;"></p>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
</body>

</html>